* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
  font-family: "Times New Roman";
  background-color: #0f0f0f;
  color: #e6e6e6;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

/* Logo */
.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}


.logo img {
  width: 30vw;      /* 30% of screen width */
  max-width: 300px; /* prevents too large on big screens */
  height: auto;
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: normal;
  letter-spacing: 1px;
  text-align: center;
  font-family: "League Spartan", "Oswald", "Arial Narrow", sans-serif;
}



.site-container {
  flex: 1;
  border: 0.1px solid #2a2a2a;
  border-radius:20px;
  background-color: #0f0f0f;
  overflow: hidden;
  
}

.site-container iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}